<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add New User</h1>
      {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/users/add" method="POST">
        <div class="input-group">
          <label for="name">My name: </label>
          <input type="text" name="name" id="name" class="input-box" placeholder="eg. Charlie Brown"
            maxlength="100" value={{name}}>
        </div>
        <div class="input-group">
          <label for="technologies">My age: </label>
          <input type="integer" name="age" id="age" class="input-box" placeholder="eg. 7"
          maxlength="100" value={{age}}>
        </div>


        {{!-- Make sure that user can select multiple, and  have the attributes be inline.--}}
        <div class="input-group">
          <label for="description">I am: </label>
          <label><input type="checkbox" name="description" value="active">Active</label>
          <label><input type="checkbox" name="description" value="sedentary">Sedentary</label>
          <label><input type="checkbox" name="description" value="sassy">Sassy</label>
          <label><input type="checkbox" name="description" value="sharp">Sharp</label>
          <label><input type="checkbox" name="description" value="rich">Rich</label>
          <label><input type="checkbox" name="description" value="broke">Broke</label>
          <label><input type="checkbox" name="description" value="imperfect">Imperfect</label>
          <label><input type="checkbox" name="description" value="ambitious">Ambitious</label>
          <label><input type="checkbox" name="description" value="emotional">Emotional</label>
          <label><input type="checkbox" name="description" value="confident">Confident</label>
          <label><input type="checkbox" name="description" value="unique">Unique</label>
          <label><input type="checkbox" name="description" value="fair">Fair</label>
          <label><input type="checkbox" name="description" value="wack">Wack</label>
          <label><input type="checkbox" name="description" value="spiritual">Spiritual</label>
          <label><input type="checkbox" name="description" value="introvert">Introvert</label>
          <label><input type="checkbox" name="description" value="extrovert">Extrovert</label>
          <label><input type="checkbox" name="description" value="sleepy">Sleepy</label>
          <label><input type="checkbox" name="description" value="dreamer">Dreamer</label>
          <label><input type="checkbox" name="description" value="anti-social">Anti-social</label>
          <label><input type="checkbox" name="description" value="artistic">Artistic</label>
        </div>
        <div class="input-group">
          <label for="contact_email">My Email:</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value={{contact_email}}>
        </div>
        <input type="submit" value="Add User" class="btn btn-reverse">
      </form>
    </div>
  </section>