* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

ul li a {
    margin: 0 75px;
}

#free {
    background: #000;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: -99;
}

#free,
#free iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#tourDates {
    float: right;
    margin: 300px 500px;
}

#disclaimer {
    position: absolute;
    left: 1100px;
    color: white; 
    font-size: 16px;
    text-align: center;
    padding: 25px;
    margin-top: 500px;
    
}

.modal-content {
    background-color:rgba(0,0,0,0.5);
    color: white;

}

form{
    margin: 20px 0;
}
form input, button{
    padding: 5px;
}
table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #cdcdcd;
}
table th, table td{
    padding: 10px;
    text-align: left;
}

input {
    background-color: rgba(0,0,0,0.5);
    color: white; 
    margin: 15px;
}

#add-rowEvent {
    display: inline-block;
    margin: 25px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
#delete-rowEvent {
    display: inline-block;
    margin: 25px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
#addToUser {
    display: inline-block;
    margin: 25px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
#add-rowUser {
    display: inline-block;
    margin: 25px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
#delete-rowUser {
   margin: 25px;
   /* display: none; */
   color: white;
   background-color: rgba(0,0,0,0.5);
}

.filterSearch {
    display: block;
    margin: 25px;
}