* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#free {
    background: #000;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: -99;
}

#free,
#free iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#videoButton:hover {
    background: #ddd;
    color: black;
}

#disclaimer {
    color: white; 
    font-size: 12px;
    top: 200px;
}

.modal-content {
    background-color:rgba(0,0,0,0.5);
    color: white;
}

form{
    margin: 20px 0;
}
form input, button{
    padding: 5px;
}
table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #cdcdcd;
}
table th, table td{
    padding: 10px;
    text-align: left;
}
#add-rowEvent {
    display: inline-block;
    margin: 25px;
    color: white;
}
#delete-rowEvent {
    display: inline-block;
    margin: 25px;
    color: white;
}
#addToUser {
    display: inline-block;
    margin: 25px;
    color: white;
}
#add-rowUser {
    display: inline-block;
    margin: 25px;
    color: white;
}
#delete-rowUser {
   margin: 25px;
   display: none;
   color: white;
}